{% extends 'core/base.html' %}

{% block titulo %}
Acerca de Nosotros
{% endblock titulo %}

{% block contenido %}
<div class="col mb-3">
    <div class="card">
        <div class="card-body">
            <h2 class="card-title">{{ abaut }}</h2>
            <p class="card-text text-black">Desde una edad temprana, la música ha sido más que un simple pasatiempo
                para
                mí; ha sido una compañera constante, una inspiración y una forma de expresión que trasciende el
                lenguaje. Mis primeros recuerdos están llenos de melodías y ritmos, tocando el piano en la sala de estar
                de mi casa, aprendiendo acordes en una vieja guitarra y explorando la percusión en cualquier superficie
                que pudiera emitir un sonido. Esta pasión me llevó a recorrer un camino musical a lo largo de mi vida,
                desde actuaciones en pequeñas agrupaciones hasta estudiar formalmente música en la universidad.</p>

            <p class="card-text text-black">Después de años de estudiar y comprender profundamente la música y sus
                intrincados mecanismos, decidí
                que era el momento de compartir mi amor y conocimiento de los instrumentos musicales con otros. Así
                nació "Melodías Eternas", una tienda dedicada no solo a la venta de instrumentos musicales, sino a
                fomentar una comunidad de músicos, tanto novatos como experimentados, que comparten una pasión común por
                la música.</p>

            <p class="card-text text-black">En "Melodías Eternas", cada instrumento que ofrecemos ha sido seleccionado
                cuidadosamente, asegurándonos
                de que cumpla con nuestros altos estándares de calidad, sonido y accesibilidad. Entiendo que cada músico
                es único, y por eso nuestro enfoque es personalizado. Ya sea que estés buscando tu primer ukelele, una
                guitarra para acompañar tus canciones, o un piano para conciertos, estamos aquí para ayudarte a
                encontrar el instrumento perfecto que resuene contigo y con tu música.</p>

            <p class="card-text text-black">Más allá de vender instrumentos, en "Melodías Eternas" nos esforzamos por
                ser un recurso para nuestra
                comunidad musical. Ofrecemos talleres, clases de música y sesiones de jamming abiertas para que nuestros
                clientes puedan aprender más y sumergirse en el mundo de la música. Creemos que comprar un instrumento
                es solo el primer paso en un viaje musical, y estamos comprometidos a apoyar a cada cliente en cada
                etapa de ese viaje.</p>

            <p class="card-text text-black">A través de "Melodías Eternas", quiero transmitir no solo mi pasión por la
                música, sino también mi
                creencia en el poder transformador de la música en nuestras vidas. La música tiene el poder de consolar,
                motivar y unir a las personas, y es esta filosofía la que impulsa cada aspecto de nuestra tienda. Al
                visitar "Melodías Eternas", no solo estás comprando un instrumento, estás entrando a una comunidad donde
                la música y la pasión florecen juntas.</p>
        </div>
    </div>
</div>
<a href="{% url 'core:home' %}">Ir a home</a>
{% endblock contenido %}