{% extends 'core/base.html' %}

{% block titulo %}
Productos
{% endblock titulo %}

{% block contenido %}

<div class="fs-3 pb-4">
    <a href="{% url 'producto:productocategoria_create' %}">Crear categorías de Productos</a>
</div>
<div class="py-lg-4">
    <form action="{% url 'producto:home' %}" method="get">
        <input type="text" name="consulta" placeholder="Buscar...">
    </form>
</div>

<ul>
    {% for producto in productos %}
    <li> {{ producto }} </li>

    {% endfor %}
</ul>
{# <a href="{% url 'core:home' %}">Ir a home</a> #}
{% endblock contenido %}